# Create a copy of this file and name it .env
OPENAI_API_KEY="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"
#OPENAI_API_KEY="sk-fPHRU6nfWD_ax0RgFvfFZA"
#OPENAI_BASE_URL = "http://hackathon-agentic-ai-hub.ciena.com:4000/"
NEO4J_URI="neo4j+s://0cb40330.databases.neo4j.io"
NEO4J_USERNAME="neo4j"
NEO4J_PASSWORD="pTFT6Ly2L2oD1SmhL2y2AdfnDk8Oh7sB4sqXs4DVqAU"
NEO4J_DATABASE="neo4j"

#test 6/3